*{ margin:0; padding: 0; top 0;}
body{ background-color: #eaece5; font-family: Georgia; width: 100%; color:#3b3a30; }
a{ color: #3b3a30; text-decoration: none !important; }  /*link.uri*/

/*----------------------------------------------------------------------------------------------------------- */
header{
	top:0;
	font-variant: small-caps;
	font-size: 20px;
	text-align: center;
	background: #eaece5;
	position: fixed;
	height: 100%;
	width: 23%;
}



footer {
	left: 25%;
	text-align: center;
	margin-left: 23%;
	margin-right: 5px;
	border-top: 1px solid #b2c2bf;

	background-color: #eaece5;
	color: #3b3a30;
	padding: 50px;
}

section{
	left: 23%;
	background-color: White;
	margin-left: 23%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	border: 1px solid #b2c2bf;
	height:	600px;
}



.logo{
	padding-top: 22px;
	padding-bottom: 12px;
}

.identitate{
	padding-top: 22px;
	padding-bottom: 12px;
}

.search{
	padding-top: 22px;
	padding-bottom: 12px;
}































/* ................................................................................ */
input[type=search] {


	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	
	font-size: 80%;
	background-color: #eaece5;
	border: 1px solid #b2c2bf;
	padding: 5px; 
	width: 55px;

	text-align: center;
	font-variant: small-caps;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

input[type=search]:focus{
	width: 130px;
	background-color: #eaece5;
	border-color: #b2c2bf;
	cursor: auto;
}