*{ margin:0; padding: 0;}
body{ 
	background-color: white; 
	font-family: Georgia;  
	color:#3b3a30;
	font-variant: small-caps; 
	text-align: center;
}

a  {text-decoration: none; color: #3b3a30; }
a:hover{color: #b2c2bf;}
li { list-style-type: none; }
li:hover {color: #b2c2bf; cursor: pointer;}


/*---------------------------------------------------------------HEADER--------------------------------------------------------------*/
#logo {
	display: inline;
	font-size: 20px;
	letter-spacing: 3px;
	padding-left: 5px;

}
#logo:hover {
	color: #b2c2bf;

}


header {
	background-color: #eaece5; 	
	max-height: 60px;
	max-width: 100%;
	border-bottom: 1px solid #b2c2bf;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 23px;
	padding-bottom: 22px;
}


/*--------------------------------------------------------------HEADER--------------------------------------------------------------SEARCH*/
#search {
	display:inline;
	max-width: 50%;
	font-style: normal;
	font-size: 20px;

}

input[type=search] {
	-webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 

	letter-spacing: 3px;
	width: 300px;
	margin-left: 515px;
	margin-right: -230px;
	background-color: #eaece5;

	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	
	font-size: 80%;
	border: 1px solid #b2c2bf;
	padding: 5px; 

	text-align: center;
	font-variant: small-caps;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input:-webkit-search-decoration,
input:-webkit-search-cancel-button {
	display: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
   

input[type=search]:focus{
	-webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;

	outline-color:#b2c2bf;
	margin-left: 315px;
	width: 500px;
	background-color: white;
	cursor: auto;
}



/*-------------------------------------------------------------BODY--------------------------------------------------------------*/

#corp{
	margin-top: 30px;
	margin-bottom: 100px;
	clear: both;
	display: inline-block;
	width: 1155px;
	height: 700px;
}




/* --------------------------------------------------------------BODY--------------------------------------------------------------MENIU*/
#meniu{
	width: 250px;
	padding-top: 20px;
	padding-bottom: 10%;
	display: inline-block;
	float:left;
	position: fixed;
	margin-left: -600px;

	
}

#navigare{
	font-size: 14px;
	line-height: 200%; 
}

#identitate { 
	margin-top: -20px;
	padding-bottom: 27px;
}

#imagineAvatar{
	border-radius: 100px;
	height: 120px;
	width: 120px;
	border: 1px solid #b2c2bf;
}




/*----------------------BODY--------------CONTINUT*/


.continut{
	overflow: scroll;
	margin-left: -330px;
	padding: 27px;
	display: inline-block;
	position: absolute;
	width: 840px;
	background-color: white;
	max-height: 700px;
	border: 1px solid #b2c2bf;
	text-align: center;
	font-variant: normal;
	font-size: 13px;
	min-height: 600px;
}

/*
.continut input{
	float: right;
	margin-right: 200px;
	width: 150px;
	padding: 10px;
	color: #3b3a30;
	border: 1px solid #b2c2bf;
	text-align: center;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
}
input:focus {
	outline:none !important;
    border: 2px solid #c0ded9;
    font-style: bolder;
}
input[type=submit]{
	border: 0px;
	background: none;
	font-size: 18px;
	font-style: 	
}
p{
	text-align: center;
	padding-bottom: 27px;
}
*/

/*--------------------------------------------------FISIERE----*/

img{
	border: 1px solid black;
}

.titluFisiere{
	padding-top: 7px;
	text-align: center;
	width: 100%;
	padding-bottom:27px;
	margin-bottom: 20px;
}

.OnDigix{

	text-align: center;
	width:50%;

}
.fisiereAfisate{
	line-height: 200%;
	padding-top:20px;
	padding-bottom:20px;
	border:1px solid black;
	margin-bottom:20px;
}