
/*----------------------------------- slide show-----------------------------------*/ 

@keyframes slider {
0%{ left:0; }
20%{ left: -20%; }
25%{ left: -100%; }
45%{ left: -100%; }
50%{ left: -200%; }
}

#slider{ overflow: hidden; }
#slider figure img { width: 20%; float:left; }
#slider figure { 
	position: relative; 
	width: 400%; 
	margin: 0; 
	left: 0; 
	animation: 20s slider infinite;
}

#textSlider{
	position:absolute;
	left:0;
	top:42%;
	width:100%;
	text-align:center;
	font-size: 35px;
	color: White;
	font-variant: small-caps; 
}

/*-----------------------------------About Us-----------------------------------*/ 
#About_us .titlu{
	font-family: Georgia;
	font-style: normal;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	text-decoration: none; 
	font-size: 20px;
}
#About_us .titlu h1{
	font-variant: small-caps;
}
.continut p{
	background-color: white;
	font:normal;
	text-align: center;
	position: relative;
}