body{
	background: Gainsboro;
	margin: 0;
	color: Black;
	content: "Courier New", Courier, monospace;
}

header {
	margin: 0;
	padding: 5px;
}
header h1{
	display: inline;
}
header form{
	display: inline;
	align-content: center;

}
header h2{
	display:inline;
}
nav ul a{
	color:DarkGray;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 50%;
}