#yourFiles{
	float:left;
	display: inline;

}

.album :hover {
	color: #3b3a30;
	background-color: #eaece5;
	height:10px;

}
.fisier{
	width:100px;
	height:100px;
	display: inline;
}


.profilePictureButton:focus{
	outline-color: #b2c2bf;
}
.profilePictureButton:hover{
	outline-color: #b2c2bf;
	cursor:pointer;
}