#yourFiles{
	text-align: center;
}
   
.copertaAlbum {
	text-align: center;
	height: 70px;
	width:150px;
	border: 1px solid #b2c2bf;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	padding-top: 40px;
	
}

.album :hover {
	color:#3b3a30;
	background-color: #eaece5;

}


